<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
        <!-- Styles -->
        <link rel="stylesheet" href="./styles.css"/>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Pinyon+Script&display=swap" rel="stylesheet">

</head>  
<body>
    <div class="Navbar arapey-regular">
        <div class="navTitle">
            <img src="./Assets/Logo top.png" class="logoNav" alt="PizzaTria Logo"/>
            <h1 class="PizzaTriaName">PizzaTria</h1>
        </div>
        <div class="navLinks">
            <a href="./home" class="navOption">
                <h2 class="navH">Home</h2>            
            </a>       
            <a href="./menu" class="navOption">
                <h2 class="active">Menu</h2>            
            </a>    
            <a href="./checkout" class="navOption">
                <svg class="navH" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>  
                <%if(cartItems>0){%>
                    <div class="cartItems"><span><%=cartItems%></span></div>
                <%}%>        
            </a>    
        </div>
    </div>
    <div class="menuHeaderImgBG" style="background: image-set('./Assets/HomePagePizza_img6.png'); background-size: cover;">

    </div>
    <div class="menuHeader">
        <h2 class="pinyon-script-regular menuH1" style="margin: 0px;">Our Menu</h2>
    </div>
    <div class="Specials">

        <div class="SpecialsText">
            <div class="pizzaList">
                <div class="pizzasContainer">
                    <%pizzas.forEach(pizza => {%>
                        <form action="/pizzaview" method="POST">
                            <div class="pizzaCard">
                                <img class="cardImage" src="./Assets/<%=pizza.name%>_nbg.png">
                                <p class="pizzaDescription"><%=pizza.name%></p>  
                                <%if(pizza.type=="v"){%>
                                    <div class="pizzaType">
                                        <svg class="typeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"/>
                                        </svg>
                                    </div>
                                <%}%>    
                                <%if(pizza.type=="s"){%>
                                    <div class="pizzaType">
                                        <svg class="typeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M428.3 3c11.6-6.4 26.2-2.3 32.6 9.3l4.8 8.7c19.3 34.7 19.8 75.7 3.4 110C495.8 159.6 512 197.9 512 240c0 18.5-3.1 36.3-8.9 52.8c-6.1 17.3-28.5 16.3-36.8-.1l-11.7-23.4c-4.1-8.1-12.4-13.3-21.5-13.3L360 256c-13.3 0-24-10.7-24-24l0-80c0-13.3-10.7-24-24-24l-17.1 0c-21.3 0-30-23.9-10.8-32.9C304.7 85.4 327.7 80 352 80c28.3 0 54.8 7.3 77.8 20.2c5.5-18.2 3.7-38.4-6-55.8L419 35.7c-6.4-11.6-2.3-26.2 9.3-32.6zM171.2 345.5L264 160l40 0 0 80c0 26.5 21.5 48 48 48l76.2 0 23.9 47.8C372.3 443.9 244.3 512 103.2 512l-58.8 0C19.9 512 0 492.1 0 467.6c0-20.8 14.5-38.8 34.8-43.3l49.8-11.1c37.6-8.4 69.5-33.2 86.7-67.7z"/>
                                        </svg>
                                    </div>
                                <%}%> 
                                <p class="pizzaName"><%=pizza.name%></p>
                                <div class="cardPrice">
                                    <p class="pizzaPrice">R<%=pizza.price%></p>
                                </div> 
                            <input name="PizzaId" hidden="true" value="<%=pizza.id%>"/>
                            <input class="orderNowButton" type="submit" value="Order Now"/> 
                            </div>                                              
                        </form>                        
                    <%})%>
                    

                </div>
            </div>
        </div>
        <script src="index.js" charset="UTF-8"></script>
</body>
</html>